config.stopBubbling = true
lombok.addGeneratedAnnotation = true

# Disabled Lombok features
lombok.data.flagUsage = warning
lombok.val.flagUsage = error
lombok.cleanup.flagUsage = error
lombok.value.flagUsage = error
lombok.getter.lazy.flagUsage = error
lombok.builder.flagUsage = warning
lombok.sneakyThrows.flagUsage = error

# Experimental features
# lombok.experimental.flagUsage = warning
lombok.fieldDefaults.flagUsage = error
lombok.accessors.flagUsage = error
lombok.extensionMethod.flagUsage = error
lombok.delegate.flagUsage = error
lombok.wither.flagUsage = warning

# NonNull Management
lombok.nonNull.exceptionType = IllegalArgumentException

# Logging Configuration
lombok.log.fieldName =LOGGER
lombok.log.apacheCommons.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error

# Getter/Setter Configuration
lombok.accessors.chain = true
